@media (min-width: $tablet) {

   .product-catalog {
      margin-bottom: 68px;
   }
}     

.product-catalog__title {
   margin: 0;
   padding: 27px 20px 41px 6.25%;
   border-top: 1px solid #D9D9D9;
}

@media (min-width: $tablet) {

   .product-catalog__title {
      padding-left: 3.92%;
      border-top: none;

      font-family: 'Oswald', sans-serif;
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      line-height: 60px;
   }
} 

@media (min-width: $desktop) {

   .product-catalog__wrapper {
      margin: 30px auto 0 auto;
      width: 84%;
      max-width: 1220px;
      padding: 0;
      box-sizing: border-box;
   }

   .product-catalog__title {
      padding-left: 0;
      margin: 0;
   }
}

.product-catalog__list {
   margin: 0;
   padding: 0;
   list-style: none;
}

@media (min-width: $tablet) {

   .product-catalog__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      width: 92.20%;
   }
}

@media (min-width: 1000px) {
   .product-catalog__list {
      justify-content: space-around;
   }
}
  
@media (min-width: $desktop) {
   .product-catalog__list {
      width: 84%;
      max-width: 1220px;
      justify-content: space-between;
   }

   .product-catalog__list li:nth-child(4n) {
      margin-right: 0;
   }
}   

.catalog-list__item {
   padding: 10px 5.65% 15px 5.35%;
   border: 1px solid #D9D9D9;

   .catalog-list__svg {
      margin: 25px auto 23px auto;
      width: 30px;
      height: 30px;

      background-image: url('../img/icon-plus-mobile.svg');
   }

   .catalog-list__link-container {
      text-align: center;
      margin: 0 auto 21px auto;

      .catalog-list__title {
         width: 204px;
         margin: 0 auto 8px auto;
   
         font-family: 'Oswald', sans-serif;
         font-size: 16px;
         font-style: normal;
         font-weight: 300;
         line-height: 20px;
         color: #111111;
         text-transform: uppercase;
      }
   
      .catalog-item__subtitle {
         display: block;
         width: 221px;
         margin: 0 auto;

         font-family: 'Arial', sans-serif;
         font-size: 12px;
         font-style: normal;
         font-weight: 400;
         line-height: 16px;
         color: $special-dark-grey;
      }

   }

   .catalog-list__link {
      display: block;
      padding: 11px 0;
      width: 100%;
      margin-bottom: 10px;

      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      color: $special-dark-grey;
      background-color: $basic-grey;
   }
}

@media (min-width: $tablet) {

   .catalog-list__item {
      margin: 140px 0 0 0;
      padding: 120px 20px 15px 20px;
      border: none;
      width: 40.10%;
      max-width: 320px;
      min-height: 310px;

      background-color: $basic-grey;

      .catalog-list__svg {
         margin: 25px auto 50px auto;
         width: 60px;
         height: 60px;

         background-image: url('../img/icon-plus.svg');
      }

      .catalog-list__link-container {
         margin: 0 auto 60px auto;

         .catalog-list__title {
            width: 134px;
            margin: 0 auto 20px auto;
      
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: #111111;
            text-transform: uppercase;
         }
      
         .catalog-item__subtitle {
            width: 167px;
            margin: 0 auto;

            font-family: 'Arial', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 18px;
            color: $special-dark-grey;
         }
      }

      .catalog-list__link {
         display: block;
         width: 87.90%;
         margin: 0 auto;
         padding: 15px 0;
         text-align: center;

         opacity: 1;

         &:hover {
            background-color: #EBEBEB;
         }

         &:active {
            opacity: 0.5;
         }
      }
   }
}

.catalog-list__container {
   position: relative;
   display: flex;
   justify-content: space-between;
}

.catalog-list__img-wrapper {
   width: 140px;
   height: 144px;
}

.catalog-list__picture {
   width: 100%;
   height: auto;
}

.catalog-list__big-picture {
   width: 100%;
   height: auto;
}

.catalog-list__wrapper {
   position: relative;
   margin-top: 21px;
   width: 50%;
}

.catalog-item__heading {
   display: block;
   width: 76px;
   @extend %fonts-title-product;
}

.catalog-item__wrapper {
   display: flex;
   justify-content: space-between;
   width: 100%;

   .catalog-item__concept {
      @extend %fonts-text-description;
   }

   .catalog-item__value {
      @extend %fonts-text-description;
   }
}

@media (min-width: $tablet) {

   .catalog-list__item--more {
      padding-top: 52px;
      background-color: #fff;
      outline: 1px solid $special-grey;
   }

   .catalog-list__container {
      width: 87.30%;
      margin: 0 auto 30px auto;

      flex-direction: column;
      justify-content: start;
   }

   .catalog-list__img-wrapper {
      position: absolute;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0);
      bottom: 190px;
      width: 324px;
      height: 172px;
      margin-bottom: 25px;
   }

   .catalog-list__big-picture {
      position: absolute;
      bottom: -3px;
      display: block;
   }

   .catalog-list__wrapper {
      width: 100%;
   }

   .catalog-item__heading {
      width: 155px;
      margin: 0 auto 27px auto;

      font-family: 'Oswald', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
   }

   .catalog-item__description {
      width: 100%;
   }

   .catalog-item__wrapper {
      width: 100%;
      margin: 0 0 10px 0;
      padding-bottom: 9px;
      border-bottom: 1px solid $special-grey;

      .catalog-item__concept {
         font-family: 'Arial', sans-serif;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 16px;
      }
   
      .catalog-item__value {
         font-family: 'Arial', sans-serif;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 16px;
      }
   }
}


@media (min-width: 1172px) {

   .catalog-list__item {
      width: 27.75%;
      margin-right: 3%;
   }

   .no-margin {
      margin-right: 0;
   }
}

@media (min-width: $desktop) {

   .catalog-list__item {
      margin: 130px 0 0 0;
      width: 18.80%;

      .catalog-list__link {
         padding: 11px 24px;
         width: 125px;
      }
   }

   .catalog-list__wrapper {
      width: 87.40%;
      margin: 0 auto;
   }

   .catalog-item__description {
      width: 100%;
      margin: 0;
   }

   .catalog-list__container {
      width: 100%;
   }

   .catalog-list__img-wrapper {
      bottom: 150px;
      width: 245px;
      height: 208px;
   }

   .catalog-list__big-picture {
      bottom: 30px;
   }

   .catalog-item__heading {
      width: 145px;
   }

   .catalog-item__wrapper {
      width: 100%;
   }
}

