//Header

%fonts-link-header {
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px;
   text-decoration: none;
   text-transform: uppercase;
   color: $special-dark-grey-two;
}

//Section-preview


//Section-heading-offer

%fonts-heading-offer {
   font-family: 'Oswald', sans-serif;
   font-size: 23px;
   font-style: normal;
   font-weight: 300;
   line-height: 36px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

//Section-subtitle-offer

%fonts-link-offer {
   font-family: 'Oswald', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px;
   text-transform: uppercase;
}

//Font-text-arial

%fonts-text-arial {
   font-family: 'Arial', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
   color: $special-dark-grey;
}

//Section-how-work

%fonts-heading-work {
   font-family: 'Oswald', sans-serif;
   font-size: 36px;
   font-style: normal;
   font-weight: 400;
   line-height: 40px;
}

//Section-living-example

%fonts-title-example {
   font-family: 'Oswald', sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   text-transform: uppercase;
}

%fonts-was-stay {
   font-family: 'Oswald', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;  
}

//Section product catalog

%fonts-title-product {
   font-family: 'Oswald', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;;
   text-transform: uppercase;
   color: $special-dark-grey-two;
}

%fonts-text-description {
   font-family: 'Arial', sans-serif;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px;
   color: $special-dark-grey;
}

%fonts-box-additional {
   font-family: 'Arial', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px;
   color: $special-dark-grey;
}

%fonts-form {
   font-family: 'Oswald', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
   color: $special-dark-grey;
   text-transform: uppercase;
}

%fonts-contacts-title {
   font-family: 'Oswald', sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 26px;
   color: #000000;
}