.living-example {
   position: relative;
   padding: 0 0 16px 0;
   width: 100%;
   background-color: #EAEAEA;
}

.living-example__white {
   display: none;
   position: absolute;
   top: 0;
   width: 100%;
   height: 164px;
   background-color: #ffffff;
}

.living-example__container {

   .living-example__title {
      margin: 0;
      padding: 27px 0 0 6.25%;

      font-family: 'Oswald', sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
   }
}

@media (min-width: $tablet) {
   .living-example {
      background-color: #fff;
   }

   .living-example__container {

      .living-example__title {
         margin: 0 0 43px 0; 
         padding: 0 0 0 2.61%;
         min-width: 325px;

         font-size: 60px;
         line-height: 60px;
      }
   }
}   

@media (min-width: $desktop) {
   .living-example {
      margin: 0;
      padding: 0;
      background-color: $basic-grey;
   }

   .living-example__white {
      display: block;
   }

   .living-example__container {
      position: relative;
      width: 85.72%;
      max-width: 1316px;
      margin: 0 auto;
      padding: 0 100;

      .living-example__title {
         padding: 30px 0 0 0;
         margin: 0;
         max-width: 1114px;
      }
   }
}   

.living-example__wrapper {
   width: 87.50%;
   max-width: 1114px;
   padding: 24px 20px 10px 20px;
   margin: 0 auto;

   .living-example__text {
      margin-bottom: 25px;

      @extend %fonts-text-arial;
   }
}

@media (min-width: $tablet) {

   .living-example__wrapper {
      width: 94.79%;
      padding: 30px 20px 30px 0;

      .living-example__text {
         margin: 0 0 50px 10px;
         padding: 0;

         font-size: 16px;
         line-height: 24px;
      }
   }
}   

@media (min-width: $desktop) {

   .living-example__wrapper {
      width: 1220px;
      padding: 0 0 45px 0;
      margin: 0;

      .living-example__text {
         width: 36%;
         margin: 150px 0 70px 0;
      }
   }
}

.living-example__box {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   .living-example__cost {
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
   }
}

@media (min-width: $tablet) {
   .living-example__box {
      flex-direction: row;
      margin-bottom: 0;

      .living-example__cost {
         width: 250px;
         margin: 0;
         padding: 0;

         font-size: 20px;
         line-height: 28px;
         text-align: right;
      }
   }
}

@media (min-width: $desktop) {
   .living-example__box {
      flex-direction: column;

      .living-example__cost {
         width: 210px;
         margin: 30px 0 0 90px;

         text-align: center;
      }
   }
}

.living-example__about {
   width: 100%;
}

@media (min-width: $tablet) {

   .living-example__about {
      display: inline-block;
      margin: 0;   
   }
}     

.living-example__wrapping {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 280px;
   margin: 0 auto;
}

@media (min-width: $tablet) {

   .living-example__wrapping {
      width: 366px;
      margin: 0 0 0 10px;
      padding: 0;
   }
}   

.about-example__wrapper {
   position: relative;
   width: 124px;
   min-height: 56px;
   margin-bottom: 31px;
   border: 1px solid $special-grey;
   border-radius: 4px;

   text-align: center;

   .about-example__title {
      margin: 14px 0 17px 0;
      @extend %fonts-title-example;
   }

   .about-example__subtitle {
      position: absolute;
      left: 20px;
      top: 50px;
      display: block;
      width: 87px;
      margin: 0 auto;

      font-family: 'Arial', sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px;
      background-color: #EAEAEA;
   }

   .about-example__subtitle--small {
      left: 13px;
      width: 100px;
   }
}

@media (min-width: $tablet) {

   .about-example__wrapper {
      width: 162px;
      height: 77px;
      border-radius: 3px;

      .about-example__title {
         margin: 17px 0 15px 0;;
      
         font-size: 30px;
         line-height: 37px;
      }

      .about-example__subtitle {
         top: 70px;
         left: 31px;
         width: 100px;
         background-color: #fff;

         font-size: 14px;
         line-height: 14px;
      }

      .about-example__subtitle--small {
         left: 20px;
         width: 122px;
      }
   }
}

@media (min-width: $desktop) {

   .about-example__wrapper {

      .about-example__subtitle {
         background-color: $basic-grey;
      }
   }
}   

.living-example__diffenition {
   margin: 0 auto 15px auto;

   .living-example__wrapper-image  {
      display: none;
   }

   .living-example__image {
      min-height: 232px;
      width: 320px;
      margin: 0 auto 25px auto;
   }

   .living-example__img {
      width: 100%;
      height: auto;
      opacity: 1;

      transition: opacity 1s ease;
   }

   .living-example__img--off {
      width: 100%;
      height: 0;
      opacity: 0;

      transition: opacity 1s ease;
   }

   .living-example__img-two {
      width: 100%;
      height: 0;
      opacity: 0;

      transition: opacity 1s ease;
   }

   .living-example__img-two--on {
      width: 100%;
      height: auto;
      opacity: 1;

      transition: opacity 1s ease;
   }
}

@media (min-width: $tablet) {

   .living-example__diffenition {
      position: relative;
      width: 100%;
      min-height: 645px;
      padding: 0;
      margin: 0;

      .living-example__wrapper-image {
         position: absolute;
         bottom: 0px;

         display: block;
         width: 100%;
         height: 480px;
         z-index: 1;

         background-color: $basic-grey;
      }

      .living-example__image {
         position: relative;

         width: 690px;
         height: 517px;
         z-index: 2;
         margin-bottom: 0;
      }
   }
}

@media (min-width: $desktop) {

   .living-example__diffenition {
      position: absolute;
      bottom: 75px;
      right: -90px;
      width: 728px;
      min-height: 100px;
      padding-bottom: 0;
      margin: 0;

      .living-example__wrapper-image {
         display: none;
         position: relative;
         min-height: 100px;
      }

      .living-example__image {
         margin: 0 0 0 20px;
         width: 690px;
      }
   }
}

.about-diffenition__wrapper {
   margin: 0 auto;
   display: flex;
   width: 62.69%;
   max-width: 300px;
   justify-content: space-between;

   .about-diffenition__wrapper-input {
      display: none;
   }

   .about-diffenition__range {
      width: 37.69%;
      height: 9px;
      margin-top: 4px;
      padding: 3px 0 0 6px;
      border: 1px solid $special-grey;

      background-color: #ffffff;
      border-radius: 15px;
   }

   .about-diffenition__small-range {
      width: 44.88%;
      height: 6px;
      border-radius: 15px;
      margin-left: 0;

      background-color: $basic-green;

      transition: all 0.5s ease;
   }

   .about-diffenition__small-range--right {
      margin-left: 48%;

      transition: all 0.5s ease;
   }

   .about-diffenition__input {
      display: none;
   }

   .about-diffenition__link {
      padding: 0;

      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
      border: none;
      outline: none;
      color: #000000;
   }

   .about-diffenition__link-one {
      padding: 1px 0;
   }

   .about-diffenition__link-two {
      padding: 1px 0;
   }

   .about-diffenition__border {
      border-bottom: 2px solid $basic-green;
   }

   .about-diffenition__text {
      display: none;

      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
      color: #000000;
   }
}

@media (min-width: $tablet) {

   .about-diffenition__wrapper {
      position: relative;
      width: 75%;
      max-width: 610px;
      z-index: 2;
      margin: 50px auto 20px auto;

      .about-diffenition__link {
         display: none;
      }

      .about-diffenition__text {
         display: block;
         font-size: 20px;
         line-height: 30px;
      }

      .about-diffenition__range {
         display: none;
      }

      .about-diffenition__wrapper-input {
         display: block;
         width: 438px;
         height: 10px;
         margin: 12px 20px 0 20px;
      }

      .about-diffenition__input {
         display: block;
         width: 428px;
         height: 6px;

         outline: none;
         border-radius: 4px;
         background-color: #DCDCDC;
         appearance: none;

         &::-webkit-slider-thumb {
            appearance: none;
            width: 34px;
            height: 34px;
            cursor: pointer;

            border-radius: 50%;
            background-color: $basic-green;
            box-shadow: inset 0 0 0 13px #ffffff;
         }
      }
   }
}

