.offer {
   width: 87.50%;
   margin: 0 auto 27px auto;
   padding: 0 20px;
}

@media (min-width: $tablet) {
   .offer {
      width: 94.79%;
      margin-bottom: 45px;
   }
}   

@media (min-width: $desktop) {

   .offer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 135px;
      grid-row-gap: 75px;

      width: 84.60%;
      max-width: 1300px;
      padding: 0 100px;
      margin-bottom: 71px;
   }
}   

.offer__wrapper {
   position: relative;

   width: 100%;
   margin: 0 0 20px 0;
   padding: 24px 22px 35px 22px;
   box-sizing: border-box;

   background-color: $basic-grey;

   .offer__wrapper-img {
      position: relative;

      display: inline-block;
      width: 50px;
      height: 50px;
      margin-right: 19px;

      background-color: $basic-green;
      border-radius: 50%;

      .offer__img {
         position: absolute;
         left: 7px;
         bottom: 3px;

         display: block;
      }

      .offer__img--bigcat {
         left: -10px;
         bottom: 10px;

      }
   }

   .offer__title {
      position: relative;
      bottom: 15px;

      display: inline-block;
      margin: 0 0 5px 0;
      padding: 0;
      @extend %fonts-heading-offer;
   }

   .offer__text {

      @extend %fonts-text-arial;
   }

   .offer__line {
      margin: 19px 0 19px 0;
      width: 100%;
      height: 1px;

      background-color: #D9D9D9;
   }

   .offer__link {
      position: absolute;
      left: 22px;
      bottom: 20px;

      display: flex;
      width: 55.93%;
      @extend %fonts-link-offer; 

      opacity: 1;

      &:active {
         opacity: 0.6;
      }

      &::after {
         content: '';
         display: block;
         width: 32px;
         height: 10px;
         margin: 3px 0 0 15px;

         background-image: url('../img/icon-right-arrow-long.svg');
         background-repeat: no-repeat;
         
         opacity: 1;
         transition: background-image 0.1s ease-out;
      }

      &:hover::after {
         margin: 0 0 0 17px;
         background-image: url('../img/icon-right-arrow-verylong.svg');
         background-repeat: no-repeat;
         background-size: 32px 12px;
      }

      &:active::after {
         opacity: 0.6;
      }
   }
}


@media (min-width: $tablet) {

   .offer__wrapper {

      margin-bottom: 30px;
      padding: 100px 53px 100px 53px;

      .offer__wrapper-img {
         position: absolute;
         top: 100px;
         right: 40px;

         width: 200px;
         height: 200px;

         .offer__img {
            left: 30px;
            bottom: 20px;

            width: 140px;
            height: 192px;
         }

         .offer__img--bigcat {
            left: -35px;
            bottom: 45px;

            width: 268px;
            height: 112px;
         }
      }
   
      .offer__title {
         display: block;
         margin: 0 0 20px 0;
   
         font-size: 36px;
         line-height: 36px;
      }

      .offer__text {
         margin: 0;
         width: 64%;

         font-size: 16px;
         line-height: 24px;
      }

      .offer__text--weight {
         width: 55%;
      }

      .offer__line {
         visibility: hidden;
         margin-bottom: 30px;
      }

      .offer__link {
         left: 52px;
         bottom: 55px;

         font-size: 20px;
         line-height: 30px;

         &::after {
            margin-top: 10px;
         }

         &:hover::after {
            margin-top: 9px;
         }

         &:active::after {
            margin-top: 9px;
         }
      }
   }
}

@media (min-width: $desktop) {

   .offer__wrapper {
      padding: 0 40px 47px 52px;
      margin: 0;
      box-sizing: border-box;

      .offer__wrapper-img {
         top: 47px;
         left: 52px;

         width: 100px;
         height: 100px;
         
         .offer__img {
            left: 15px;
            bottom: 9px;

            width: 70px;
            height: 97px;
         }

         .offer__img--bigcat {
            left: -19px;
            bottom: 25px;

            width: 134px;
            height: 56px;
         }
      }

      .offer__title {
         margin: 90px 0 60px 160px;
      }

      .offer__text {
         padding-right: 0;
         width: 100%;
      }

      .offer__link {
         bottom: 40px;
      }
   }
}