.preview {
   position: relative;

   width: 100%;
   margin-bottom: 23px;
   padding-top: 27px;

   .preview__background {
      width: 100%;
      height: 305px;
      position: absolute;
      top: 0;
      z-index: 1;

      background-color: #65A93C;

      .preview__image {
         display: block;
         margin: 0 auto;
      }
   }

   .preview__title {
      position: relative;
   
      width: 90%;
      margin: 0 auto 25px auto;
      padding: 0 10px;
      z-index: 3;
   
      font-family: 'Oswald', sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
   }

   .preview__subtitle {
      position: relative;

      display: block;
      margin-bottom: 30px;
      z-index: 3;

      font-family: 'Oswald', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
   }

   .preview__img {
      display: block;
      position: relative;

      width: 280px;
      min-height: 271px;
      margin: 0 auto;
      z-index: 2;
   }

   .preview__link {
      display: block;
      padding: 11px 0;
      width: 87.50%;
      margin: 0 auto 20px auto;

      font-family: 'Oswald', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      background-color: $basic-green;
      transition: background-color 0.3s ease;

      &:hover {
         background-color: $basic-green-two;
      }

      &:active {
         color: #8EC36D;
      }
   }
}

@media (min-width: $tablet) {

   .preview {
      width: 94.79%;
      min-height: 770px;
      padding: 20px 20px;
      margin: 0 auto 30px auto;

      .preview__background {
         display: none;
      }

      .preview__title {
         width: 70%;
         margin: 15px 0 40px 87px;

         font-size: 60px;
         line-height: 60px;
         text-align: left;
         color: $special-dark-grey-two;
      }

      .preview__subtitle {
         margin: 0 0 50px 100px;

         font-size: 20px;
         line-height: 20px;
         text-align: left;
         color: $special-dark-grey-two;
      }

      .preview__img {
         position: absolute;
         top: 230px;
         right: 20px;

         width: 709px;
         height: 609px;
      }

      .preview__link {
         position: relative;

         width: 33.52%;
         margin: 0 0 20px 100px;
         padding: 16px 0;
         z-index: 3;

         font-size: 20px;
         opacity: 1;
      }
   }
}


@media (min-width: $desktop) {

   .preview {
      width: 75.15%;
      max-width: 1150px;
      min-height: 500px;
      margin-bottom: 20px;
      padding: 0 100px;

      .preview__title {
         width: 414px;
         margin: 90px 0 40px 0;
         padding: 0;
      }

      .preview__subtitle {
         margin: 0 0 52px 0;
      }

      .preview__img {
         top: -70px;
         right: 0px;
         margin-right: 16%;

         width: 552px;
         height: 490px;
      }

      .preview__link {
         margin-left: 0;
         }
   }
}
