//Style header

.page-header {
   position: relative;
   z-index: 2;
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0 auto;
}

@media (min-width: $tablet) {

   .page-header {
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 30px;
      width: 92.05%;
      max-width: 1199px;
   }
}

@media (min-width: $desktop) {
   
   .page-header {
      width: 84.60%;
      max-width: 1220px;
      padding: 40px 100px 0 100px;
   }
}

.page-header__wrapper {
   position: relative;

   display: flex;
   justify-content: space-between;
   padding: 12px 20px 16px 20px;
   margin: 0 auto;
   width: 87%;
   min-width: 280px;
   max-width: 767px;
}

.page-header__wrapper--nojs .page-header__menu {
   visibility: hidden;
}

@media (min-width: $tablet) {

   .page-header__wrapper {
      display: block;
      width: 5px;
      padding: 0;
      margin: 0;
   }
}

@media (min-width: $desktop) {
   
   .page-header__wrapper {
      display: block;
      width: 202px;
   }
}   

.page-header__link {
   position: relative;
   display: block;
   width: 33px;
   height: 38px;

   background-image: url('../img/logo-mobile-icon.svg');

   &:hover {
      opacity: 0.7;
   }

   &:active {
      opacity: 0.5;
   }
}

.page-header__text {
   display: block;
   width: 101px;
   height: 18px;
   margin-top: 12px;

   background-image: url('../img/logo-mobile-text.svg');
   background-repeat: no-repeat;
}

@media (min-width: $tablet) {

   .page-header__link {
      width: 160px;
      margin: 3px 0 0 0;
      padding: 15px;

      background-image: url('../img/logo-tablet.svg');
      background-repeat: no-repeat;
      background-size: 174px;

      opacity: 1;
   }

   .page-header__text {
      display: none;
   }
}   

@media (min-width: $desktop) {

   .page-header__link {
      background-image: url('../img/logo-desktop.svg');
   }
}

.page-header__menu {
   display: block;
   width: 24px;
   height: 16px;
   margin-top: 13px;
   border: none;
   outline: none;

   background-color: #ffffff;
}

.page-header__menu--closed {
   background-image: url('../img/icon-mobile-menu.svg');
   background-position: 50% 50%;
}

.page-header__menu--opened {
   background-image: url('../img/icon-close.svg');
   background-repeat: no-repeat;
   background-position: 50% 50%;
}

@media (min-width: $tablet) {

   .page-header__menu {
      display: none;
   }
}   

.main-nav {
   visibility: hidden;
   height: 0;
   opacity: 0;
   transition: height 0.5s ease 0s, opacity 0.2s ease 0s;
}

.js-no {
   height: 210px;
   opacity: 1;
}

.no-nav {
   visibility: visible;
   opacity: 1;
   height: 210px;
   transition: height 0.5s ease 0s, opacity 1s ease 0s;
}


@media (min-width: $tablet) {

   .main-nav {
      width: 75%;
      max-width: 500px;
      opacity: 1;
      visibility: visible;
   }

   .js-no {
      height: auto;
      opacity: 1;
   }
}

@media (min-width: $desktop) {
   .main-nav {
      width: 478px;
   }
}

.main-nav__list {
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
   list-style: none;
}

@media (min-width: $tablet) {

   .main-nav__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 22px;
   }
}           

.main-nav__link {
   display: block;
   padding: 24px 68px;
   border-top: 2px solid $basic-grey;

   text-decoration: none;
   text-align: center;
   opacity: 1;
   transition: opacity 0.4s ease;
   
   @extend %fonts-link-header;

   &:hover {
      opacity: 0.7;
   }

   &:active {
      opacity: 0.4;
   }
}

@media (min-width: $tablet) {

   .main-nav__link {
      padding: 0;
      border: none;
      
      font-size: 18px;
      line-height: 24px;

      &:active {
         padding-bottom: 2px;
         border-bottom: 2px solid $basic-green;
      }
   }

   .main-nav__link-black {
      color: $special-dark-grey-two;
   }
}   

@media (min-width: $desktop) {
      
   .main-nav__link {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;

      &:focus {
         border-bottom: 3px solid #ffffff;
      }
   }

   .main-nav__link-black {

      &:focus {
         border-bottom: 3px solid $basic-green;
      }
   }
}   

.main-nav__link--white {
   color: $special-dark-grey-two;
}

@media (min-width: $desktop) {

   .main-nav__link--white {
      color: #ffffff;
   }
}






